@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Exo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}
*{
  /* font-family: 'Montserrat'; */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
}
.mainSection{
  background: #8e52ff;
  background: linear-gradient(212deg, rgba(142,82,255,0.2862394957983193) 0%, rgba(255,255,255,1) 57%);
}
.floatChat{
  border-radius: 50px;
background: #8e52ff;
box-shadow:  20px 20px 60px #b48cfd,
             -20px -20px 60px #ffffff;
}